@import "~@blueprintjs/core/lib/scss/variables";
// @import "~@blueprintjs/core/src/components/icon/icon-mixins";
// @import "~@blueprintjs/icons/lib/scss/variables";

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

.non-ideal-state {
  height: 70vh;
}

#App-body {
  flex: 0 1 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  /* border-style: solid;
  border-color: red;
  border-width: 10px; */
}

.App-tree-card {
  $tree-width: $pt-grid-size * 30;
  width: $tree-width;
  min-width: $tree-width;
  max-width: $tree-width;
  height: 100vh;
}

.App-eye-button:hover {
  background-color: transparent !important;
}

#field {
  flex: 1 1 auto;
  display: flex;
  min-width: 0;
  min-height: 0;
  /* border-style: solid;
  border-color: blue !important;
  border-width: 15px !important; */
  height: 100vh;
}

.select-menu {
  width: $pt-grid-size * 25;
}

/* .base-canvas {
  width: 100%;
  height: 100%;
}

#background-canvas {
  z-index: 1;
}

#waypoint-canvas {
  z-index: 2;
} */

/* .App-tree-context-menu:backdrop {
  background-color: transparent !important;
  color: transparent !important;
} */

/* .App-tree-context-menu:after {
  background-color: transparent !important;
  color: transparent !important;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */